---
import Nav from '../components/nav.jsx'
import Stack from '../components/techStack.jsx'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/css/styles.css">
		<title>Hamza Elashry</title>
	</head>

	<body class="max-h-fit bg-slate-950 flex flex-col justify-center items-center">
						<Nav />

		<div class='mt-44'>
			<p class="text-slate-50 font-sans text-xl">Hello, I am</p>
			<h1 class="font-mono text-slate-50 text-7xl">Hamza Elashry.</h1>
			<p class="text-slate-50 font-sans text-xl">I am a beginner fullstack web developer and I am originally from Egypt but based in the United States of America.</p>
			<p class="text-slate-50 font-sans text-xl">Currently, I am primarily focused on frontend work to learn how to make websites and so on.</p>
		</div>
				<div>
				
			<h2 class="text-slate-50 font-sans text-4xl mt-9">Tech Stack</h2>
					<Stack />

		</div>

			<div class='mt-44 bg-slate-950'></div>

	</body>
</html>
